<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href='/css/starability.css'>
<div class="container mb-2">
  <div class="row">  
    <div class="col-6 p-0">
      <div class="card">
        <div id="hotelCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% hotel.image.forEach((img, index) => { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img src="<%= img.url %>" class=" d-block w-100" style="height: 33rem" alt="...">
              </div>
            <% }); %>           
          </div>
          <% if (hotel.image.length > 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#hotelCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#hotelCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
        </div>
      
       <div class="card-body">
        <h5 class="card-title"><%=hotel.title
           %></h5>
        <p class="card-text"><%=hotel.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text"><b>Price: </b>$<%=hotel.price%></p>
        </li>
        <li class="list-group-item">
          <p class="card-text"><b>Rating: </b><%=hotel.rating%></p>
        </li>
        <li class="list-group-item">
          <p class="card-text"><b>Location: </b><%=hotel.location%></p>
        </li>
        <li class="list-group-item">
          <p class="card-text"><b>Submitted by: </b><%=hotel.author.username%></p>
        </li>
      </ul>
      <% if(typeof loggedInUser !== 'undefined' && loggedInUser && hotel.author.equals(loggedInUser)) {%>
        <div class="card-body">
          <a href="/hotels/<%=hotel._id%>/edit" class="btn btn-outline-dark">Edit Hotel</a>
          <a href="/hotels/<%=hotel._id%>/delete" class="btn btn-danger">Delete</a>
        </div>
      <% } %>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h5>Map</h5>
      </div>
        <div id='map' style='width: 100%; height: 20rem;'></div>
      <div class="card-body">
      <% if(typeof loggedInUser !== 'undefined' && loggedInUser) {%>
      <h6>Leave a Review</h6>
      <form
        action="/hotels/<%=hotel._id%>/reviews"
        method="POST"
        class="mb-3 needs-validation was-validated"
        novalidate
      >
      <div class="form-group"> 
      <fieldset class="starability-basic">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
        <input type="radio" id="second-rate1" name="review[rating]" value="1" />
        <label for="second-rate1" title="Terrible">1 star</label>
        <input type="radio" id="second-rate2" name="review[rating]" value="2" />
        <label for="second-rate2" title="Not good">2 stars</label>
        <input type="radio" id="second-rate3" name="review[rating]" value="3" />
        <label for="second-rate3" title="Average">3 stars</label>
        <input type="radio" id="second-rate4" name="review[rating]" value="4" />
        <label for="second-rate4" title="Very good">4 stars</label>
        <input type="radio" id="second-rate5" name="review[rating]" value="5" />
        <label for="second-rate5" title="Amazing">5 stars</label>
      </fieldset>
        </div>
        <div class="form-group">
          <div class="mb-2">
            <label class="form-label" for="comment">Review</label>
            <textarea
              class="form-control"
              name="review[comment]"
              id="comment"
              cols="15"
              rows="3"
              required
            > </textarea>
          </div>
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <button class="mb-4 btn btn-success">Submit</button>
      </form>
      <% } %>
      <div>
        <% for(let reviews of hotel.reviews) { %>
        <div class="card mb-3">
           <div class="card-body">
              <p class="starability-result card-title" data-rating="<%= reviews.rating %>"></p>
              <div class="fst-italic"><b>By:</b> <%=reviews.author.username%></div>
              <p class="card-text"><b>Comment: </b><%= reviews.comment %></p>
              <% if(typeof loggedInUser !== 'undefined' && loggedInUser && reviews.author.equals(loggedInUser._id)) {%>
              <form action="/hotels/<%=hotel._id%>/reviews/<%=reviews._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <% } %>
            </div>
        </div>
        <% } %>
      </div>
      </div>
    </div>
    <script>
      const mapToken = '<%- process.env.MAPBOX_TOKEN%>';
      const hotel = '<%- JSON.stringify(hotel)  %>' ;
    </script>
    <script src="/js/showMaps.js"></script>
  </div>
 